{{ define "main" }}
<h1 class="text-4xl my-5 mx-auto text-center">{{ .Title }}</h1>

<div class="prose lg:prose-xl max-w-4xl mx-auto">
{{ .Content }}
</div>

<div class="columns-2 md:columns-3 lg:columns-4 my-10">
  {{- $images := .Resources.ByType "image" -}}
  {{ range $images }}
  <div class="mb-4">
    <a href="{{ .RelPermalink }}" data-lightbox="Gallery">
      <img src="{{ .RelPermalink }}" loading="eager" alt="Gallery Image" class="img-fluid">
    </a>
  </div>
  {{ end }}
</div>
{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}