{{ define "main" }}
{{ .Content }}

{{ $tweets := where .Site.RegularPages "Section" "tweets" }}
{{ $paginator := .Paginate $tweets 10 }}

{{ range $paginator.Pages }}
<div class="prose border max-w-lg mx-auto p-8 my-8 rounded-xl border shadow-lg bg-white">
  {{ .Content }}
  <div class="flex flex-col mt-8">
    {{ $taxonomy := "tags" }}
    {{ with .GetTerms $taxonomy }}
    <ul class="flex flex-row p-0 m-0 text-right ml-auto">
      {{ range . }}
      <li class="list-none p-1 m-0 text-sm"><a href="{{ .RelPermalink }}" class="no-underline text-purple-500">#{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}

    <a href="{{ .RelPermalink }}" class="no-underline text-sm text-gray-400 text-right ml-auto">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+09:00" }}
      {{ $dateHuman := .Date | time.Format "2006年01月02日 15:04:05" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </a>
  </div>
</div>
{{ end }}
<div class="pagination">
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}