{{- $url := (.Get 0) -}}
{{- with $result := resources.GetRemote $url -}}
    {{- with $result.Err -}}
        {{- warnf "%s" . -}}{{- . -}}
    {{- else -}}
        {{- $title := "" -}}
        {{- $description := "" -}}
        {{- $image := "" -}}
        {{- with $head := index (findRE `<head>(.|\n)*?</head>` $result.Content) 0 -}}
            {{- range $meta := findRE `<meta.*?>` $head -}}
                {{- $name := replaceRE `<.*name=\"(.*?)\".*>` "$1" $meta -}}
                {{- $property := replaceRE `<.*property=\"(.*?)\".*>` "$1" $meta -}}
                {{- $content := replaceRE `<.*content=\"(.*?)\".*>` "$1" $meta -}}
                {{- if eq $property "og:title" -}}
                    {{- $title = $content -}}
                {{- else if eq $property "og:description" -}}
                    {{- $description = $content -}}
                {{- else if eq $property "og:image" -}}
                    {{- $image = $content -}}
                {{- end -}}
                {{- if and (eq $description "") (eq $name "description") -}}
                    {{- $description = $content -}}
                {{- end -}}
            {{- end -}}
            {{- if eq $title "" -}}
                {{- with index (findRE `<title>(.*?)</title>` $head) 0 -}}
                    {{- $title = replaceRE `<title>(.*?)</title>` "$1" . -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}

        {{- $thumbnail_url := "" -}}
        {{- with $image -}}
            {{- with $thumbnail := resources.GetRemote $image -}}
                {{- with $thumbnail.Err -}}
                    {{- warnf "%s" . -}}{{- . -}}
                {{- else -}}
                    {{- $thumbnail_url = $thumbnail.RelPermalink -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}

        <div class="blogcard border shadow-sm pt-4 pr-4 pl-4 pb-2">
            <a href="{{- $url -}}" class="flex">
                <div style="flex-shrink: 0;">
                    <img src="{{ with $thumbnail_url }}{{- . -}}{{- else -}}https://i.gyazo.com/45aaa6124ccd9dde7a84d34da46131ea/thumb/160.png{{- end -}}" alt="" width="100" height="100" style="object-fit: contain;" />
                </div>
                <div class="flex flex-col ml-4">
                    <h2 class="text-base mt-0 mb-4">
                        {{- $title -}}
                    </h2>
                    <p class="text-sm font-normal">
                        {{- $description | plainify | safeHTML -}}
                    </p>
                    <small class="m-0 text-xs text-gray-400 text-right ml-auto">{{- $url -}}</small>
                </div>
            </a>
        </div>
    {{- end -}}
{{- end -}}