{{ define "main" }}
<div class="prose max-w-xl mx-auto px-4">
  <div class="flex flex-col">
    <h1 class="mb-1">{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+09:00" }}
    {{ $dateHuman := .Date | time.Format "2006年01月02日 15:04:05" }}
    <time class="text-gray-400 text-left mr-auto mb-8" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>
  {{ .Content }}

  <div class="pagination flex flex-col sm:flex-row">
    {{ with .Prev }}
    <a href="{{ .RelPermalink }}">前の記事: {{ .Title }}</a>
    {{ end }}

    {{ with .Next }}
    <a href="{{ .RelPermalink }}">次の記事: {{ .Title }}</a>
    {{ end }}
  </div>
</div>
{{ end }}